.main {
  min-height: 100vh;
  margin-top: 96px;
}

.slick-list {
  overflow: unset;
}

#root {
  overflow-x: hidden;
}

.main:before {
  content: "";
  background: url("https://prod-static.disney-plus.net/us-west-2/builds/e76798ab2a732a884562763cbd19b969a80dcd5b_1606148151180/node_modules/dss-junglebook/components/themes/images/background.png")
    no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.main__container {
  position: relative;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (min-width: 1280px) {
  .main__container {
    max-width: 80rem;
  }
}

@media (min-width: 1536px) {
  .main__container {
    max-width: 110rem;
  }
}
