.main {
  min-height: 100vh;
  margin-top: 96px;
}

.slick-list {
  overflow: unset;
}

#root {
  overflow-x: hidden;
}

.main__container {
  position: relative;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (min-width: 1280px) {
  .main__container {
    max-width: 80rem;
  }
}

@media (min-width: 1536px) {
  .main__container {
    max-width: 110rem;
  }
}
