.navbar {
  display: flex;
  align-items: center;
}

.navbar__menu {
  display: inline;
  width: 1.5rem;
  margin-right: 3rem;
  transform: translateY(0.15rem);
  cursor: pointer;
}

.navbar__logo {
  height: 2.5rem;
  margin-right: 1.25rem;
}

.navbar__list {
  display: none;
}

.navbar__item {
  margin-left: 3rem;
}

.navbar__btns {
  outline: none;
  display: flex;
  align-items: center;
  background: transparent;
  cursor: pointer;
}

.navbar__btns img {
  height: 1.25rem;
}

.navbar__btns span {
  font-family: var(--font-1);
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--clr-text);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-left: 0.5rem;
}

@media (min-width: 1280px) {
  .navbar__list {
    display: flex;
    align-items: center;
  }
  .navbar__menu {
    display: none;
    pointer-events: none;
  }
}
